@font-face {
    font-family: 'merriweather_sansbold';
    src: url('../fonts/merriweathersans-bold-webfont.woff2') format('woff2'),
         url('../fonts/merriweathersans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather_sansbold_italic';
    src: url('../fonts/merriweathersans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/merriweathersans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather_sansextrabold';
    src: url('../fonts/merriweathersans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/merriweathersans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather_sansXBdIt';
    src: url('../fonts/merriweathersans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/merriweathersans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather_sansitalic';
    src: url('../fonts/merriweathersans-italic-webfont.woff2') format('woff2'),
         url('../fonts/merriweathersans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather_sansbook';
    src: url('../fonts/merriweathersans-light-webfont.woff2') format('woff2'),
         url('../fonts/merriweathersans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather_sansbookitalic';
    src: url('../fonts/merriweathersans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/merriweathersans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather_sansregular';
    src: url('../fonts/merriweathersans-regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweathersans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'merriweather_sansregular';
}

.name {
    font-family: 'merriweather_sansextrabold';
}
.title {
    font-family: 'merriweather_sansXBdIt';
}

/* Message flashing */
.flash {
    background-color: #FBB0B0;
    padding: 10px;
    width: 400px;
}



