<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>David Herron Portfolio Site</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <!-- Lightbox CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/thumbnail-gallery.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

</head>
<body>

    <div class="container">

        <header class="jumbotron">
            <h1 class="name">DAVID HERRON</h1>
            <h2 class="title">Web Developer & Graphic Designer</h2>
        </header>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for ('main') }}">Home</a></li>
                    <li><a href="{{ url_for ('view_portfolio') }}">Portfolio</a></li>
                    <li><a href="{{ url_for ('contact_me') }}">Contact</a></li>
                </ul>
            </div>
        </nav>

        {% block content %}{% endblock %}

    </div>

</body>
</html>