{% extends 'layout.html' %}

{% block content %}
        <div class="container">
            <div class="row">


                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <p class="thumb-title">Magazine Feature</p>
                    <a
                    class="thumbnail"
                    href="../static/portfolio/chowhound/chowhound_cover.jpg"
                    data-lightbox="chowhound"
                    data-title="Chowhound Magazine Cover"
                    >
                    <img
                    class="img-responsive"
                    src="../static/thumbnails/chowhound_thumbnail.jpg" />
                    </a>
                    <a
                    href="../static/portfolio/chowhound/chowhound_spread.jpg"
                    data-lightbox="chowhound"
                    data-title="Chowhound Magazine Inside Spread"
                    >
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <p class="thumb-title">Textbook Design</p>
                    <a
                    class="thumbnail"
                    href="../static/portfolio/document_design/cover.jpg"
                    data-lightbox="document_design"
                    data-title="Cover Design">
                    <img
                    class="img-responsive"
                    src="../static/thumbnails/document_design_thumbnail.jpg" />
                    </a>
                    <a
                    href="../static/portfolio/document_design/colophon.jpg"
                    data-lightbox="document_design"
                    data-title="Publisher's Colophon">
                    </a>
                    <a
                    href="../static/portfolio/document_design/contents_1.jpg"
                    data-lightbox="document_design"
                    data-title="Table of Contents">
                    </a>
                    <a
                    href="../static/portfolio/document_design/contents_2.jpg"
                    data-lightbox="document_design"
                    data-title="Table of Contents (continued)">
                    </a>
                    <a
                    href="../static/portfolio/document_design/chapter.jpg"
                    data-lightbox="document_design"
                    data-title="Textbook Chapter Layout">
                    </a>
                    <a
                    href="../static/portfolio/document_design/copy_1.jpg"
                    data-lightbox="document_design"
                    data-title="Inside Copy">
                    </a>
                    <a
                    href="../static/portfolio/document_design/copy_2.jpg"
                    data-lightbox="document_design"
                    data-title="Inside Copy (continued)">
                    </a>
                    <a
                    href="../static/portfolio/document_design/copy_3.jpg"
                    data-lightbox="document_design"
                    data-title="Inside Copy (continued)">
                    </a>
                    <a
                    href="../static/portfolio/document_design/copy_4.jpg"
                    data-lightbox="document_design"
                    data-title="Inside Copy (continued)">
                    </a>
                    <a
                    href="../static/portfolio/document_design/index_1.jpg"
                    data-lightbox="document_design"
                    data-title="Textbook Index">
                    </a>
                    <a
                    href="../static/portfolio/document_design/index_2.jpg"
                    data-lightbox="document_design"
                    data-title="Textbook Index (continued)">
                    </a>
                    <a
                    href="../static/portfolio/document_design/back.jpg"
                    data-lightbox="document_design"
                    data-title="Textbook Back">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <p class="thumb-title">Add Campaign</p>
                    <a
                    class="thumbnail"
                    href="../static/portfolio/gardenburger/portobella.jpg"
                    data-lightbox="gardenburger"
                    data-title="Garden Burger Add Camaign (1 of 4)">
                    <img
                    class="img-responsive"
                    src="../static/thumbnails/gardenburger_thumbnail.jpg" />
                    </a>
                    <a
                    href="../static/portfolio/gardenburger/black_bean_chipotle.jpg"
                    data-lightbox="gardenburger"
                    data-title="Garden Burger Add Camaign (2 of 4)">
                    </a>
                    <a
                    href="../static/portfolio/gardenburger/medley.jpg"
                    data-lightbox="gardenburger"
                    data-title="Garden Burger Add Camaign (3 of 4)">
                    </a>
                    <a
                    href="../static/portfolio/gardenburger/strip.jpg"
                    data-lightbox="gardenburger"
                    data-title="Garden Burger Add Camaign (4 of 4)">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <p class="thumb-title">Brochure Design</p>
                    <a
                    class="thumbnail"
                    href="../static/portfolio/techpow/brochure_front.jpg"
                    data-lightbox="techpow"
                    data-title="Brochure Cover">
                    <img
                    class="img-responsive"
                    src="../static/thumbnails/techpow_thumbnail.jpg" />
                    </a>
                    <a
                    href="../static/portfolio/techpow/brochure_inside.jpg"
                    data-lightbox="techpow"
                    data-title="Tri-fold Brochure Inside Spread">
                    </a>
                    <a
                    href="../static/portfolio/techpow/brochure_outside.jpg"
                    data-lightbox="techpow"
                    data-title="Tri-fold Brochure Back">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <p class="thumb-title">Brochure and Logo Design</p>
                    <a
                    class="thumbnail"
                    href="../static/portfolio/patty_jo/brochure_front.jpg"
                    data-lightbox="pattyjo"
                    data-title="Brochure Cover">
                    <img
                    class="img-responsive"
                    src="../static/thumbnails/patty_jo_thumbnail.jpg" />
                    </a>
                    <a
                    href="../static/portfolio/patty_jo/brochure_inside.jpg"
                    data-lightbox="pattyjo"
                    data-title="Tri-fold Brochure Inside Spread">
                    </a>
                    <a
                    href="../static/portfolio/patty_jo/brochure_outside.jpg"
                    data-lightbox="pattyjo"
                    data-title="Tri-fold Brochure Back">
                    </a>
                    <a
                    href="../static/portfolio/patty_jo/buisness_card.jpg"
                    data-lightbox="pattyjo"
                    data-title="Business Card">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <p class="thumb-title">Add Campaign</p>
                    <a
                    class="thumbnail"
                    href="../static/portfolio/thrive/small_shelf.jpg"
                    data-lightbox="thrive"
                    data-title="Small Shelf Advertisement">
                    <img
                    class="img-responsive"
                    src="../static/thumbnails/thrive_thumbnail.jpg" />
                    </a>
                    <a
                    href="../static/portfolio/thrive/endcap.jpg"
                    data-lightbox="thrive"
                    data-title="End Cap Advertisement">
                    </a>
                    <a
                    href="../static/portfolio/thrive/juice_bar.jpg"
                    data-lightbox="thrive"
                    data-title="Counter Top Signage">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <p class="thumb-title">Menu Design</p>
                    <a
                    class="thumbnail"
                    href="../static/portfolio/pride/menu.jpg"
                    data-lightbox="pride"
                    data-title="Quick Menu Design">
                    <img
                    class="img-responsive"
                    src="../static/thumbnails/pride_thumbnail.jpg" />
                    </a>
                </div>
            </div>
        </div>
        <hr />

        <script src="../static/javascript/lightbox-plus-jquery.min.js"></script>
{% endblock %}
